@import "_null.scss";
// * Main selectors
:root {
	--black: #0a0a0a;
	--gray-text: #717171;
	--white: #fff;
	--gray-bgc: #f5f5f7;
	--purple: #490e84;
	--deep-purple: #574b63;
}
body {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: var(--black);
	&::-webkit-scrollbar {
		width: 10px;
		background-color: var(--white);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--black);
	}
	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}
[class*="__container"] {
	margin: 0 auto;
	max-width: 1230px;
	padding: 0 15px;
}
.navigation__container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--gray-text);
	font-size: 24px;
}
.navigation__menu {
	display: flex;
	flex: 0 1 580px;
}
.navigation__link {
	color: var(--gray-text);
	& {
		position: relative;
	}
	&::after {
		content: "";
		display: block;
		width: 0;
		left: 0;
		height: 2px;
		background-color: var(--white);
		transition: width 0.3s ease;
	}
	&:hover::after {
		width: 100%;
	}
}
.navigation__number {
	display: flex;
	flex: 0 1 580px;
	justify-content: flex-end;
}
.navigation__number {
	z-index: 200;
}
.navigation__logo {
	z-index: 200;
}
.none-tablet {
	display: none;
}
.title {
	color: var(--gray-text);
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin: 0px 0px 50px 0px;
}
// * Header
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--black);
}
.header__container {
	min-height: 113px;
}
.header__list {
	display: flex;
	gap: 30px;
}
.menu__icon {
	display: none;
}
// * Main
.main {
	flex: 1 1 auto;
}
// * Iphone
.iphone {
	background-color: var(--gray-bgc);
	padding: 184px 0px 40px 0px;
	text-align: center;
	& img {
		max-width: 100%;
	}
}
.iphone__title {
	color: var(--purple);
	font-size: 64px;
	font-weight: 700;
	margin: 0px 0px 40px 0px;
}
.iphone__picture {
	margin: 0px 0px 45px 0px;
}
.button-iphone {
	background-color: var(--purple);
	color: var(--white);
	font-size: 24px;
	font-weight: 700;
	padding: 22px 117px 19px 118px;
	border-radius: 30px;
	transition: opacity 0.3s ease 0s;
	&:hover {
		opacity: 0.7;
	}
}
// * about-new-iphone
.about-new-iphone {
	padding: 87px 0px 150px 0px;
}
.about-new-iphone__small-container {
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
}
.about-new-iphone__body {
	max-width: 560px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	& p {
		line-height: 130%;
		&:last-child {
			font-size: 20px;
			font-weight: 700;
		}
	}
}
.about-new-iphone__picture {
	& img {
		max-width: 100%;
	}
}
// * Color
.color {
	padding: 0px 0px 150px 0px;
}
.color__row {
	display: flex;
	margin: 0px -40px;
}
.color__column {
	padding: 0px 40px;
	text-align: center;
	& img {
		max-width: 100%;
	}
}
.item-color__body {
	line-height: 130%;
}
.item-color__title {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0px 10px 0px;
}
// * Iphone-form
.iphone-form__container {
	display: flex;
	& img {
		max-width: 100%;
	}
}
.iphone-form__form {
	padding: 137px 90px 138px;
}
.form-iphone {
	background-color: var(--deep-purple);
}
.form-iphone__title {
	color: var(--white);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	margin: 0px 0px 72px 0px;
}
.form-iphone__form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	line-height: 130%;
	& input {
		color: var(--white);
		padding: 0px 0px 10px 3px;
		background-color: var(--deep-purple);
		border-bottom: var(--gray-bgc) 1px solid;
	}
	& p {
		text-align: center;
		color: rgba(255, 255, 255, 0.5);
		margin: 0px 0px 16px 0px;
	}
}
.form-iphone__button {
	text-align: center;
}
.button-form-iphone {
	color: var(--purple);
	background-color: var(--white);
	border-radius: 30px;
	padding: 16px 81px;
	font-weight: 700;
	transition: opacity 0.3s ease 0s;
	&:hover {
		opacity: 0.7;
	}
}
// * Footer
.footer {
	background-color: var(--black);
}
.footer__container {
	min-height: 150px;
}
.footer__item {
	font-size: 14px;
	line-height: 130%;
}
@media (max-width: 1230px) {
	// * Main selectors
	[class*="__container"] {
		max-width: 970px;
	}
	// * about-new-iphone
	.about-new-iphone {
		padding: 80px 0px;
	}
	// * color
	.color__column {
		flex: 0 1 50%;
		padding: 0;
		margin: 0px 0px 40px 0px;
	}
	.color__row {
		flex-wrap: wrap;
		margin: 0;
	}
	.color {
		padding: 0px 0px 20px 0px;
	}
	// * Form
	.iphone-form__picture {
		width: 50%;
	}
}
@media (max-width: 991.98px) {
	// * Main selectors
	[class*="__container"] {
		max-width: 750px;
	}
	.none-tablet {
		display: block;
	}
	// * Header
	.menu__icon {
		display: block;
		z-index: 40;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		& span,
		&::after,
		&::before {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: var(--white);
		}
		&::after,
		&::before {
			content: "";
		}
		&::after {
			bottom: 0;
		}
		&::before {
			top: 0;
		}
		& span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
		&._active {
			& span {
				transform: scale(0) translate(0px, -50%);
			}
			&::before {
				top: 50%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
			&::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0px, 50%);
			}
		}
	}
	.navigation__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: var(--black);
		padding: 130px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
		z-index: 30;
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 113px;
			background-color: var(--black);
			z-index: 10;
		}
	}
	.navigation__body._active {
		left: 0;
		&::before {
			left: 0;
		}
	}
	.header__list {
		flex-direction: column;
		align-items: center;
		gap: 46px;
		text-align: center;
		& .navigation__link {
			font-size: 24px;
			color: var(--white);
		}
	}
	.navigation__container {
		display: flex;
	}
	.hidden-tablet {
		visibility: hidden;
	}
	// *Iphone-form
	.iphone-form__form {
		padding: 100px 30px;
	}
	.form-iphone__title {
		font-size: 22px;
		margin: 0px 0px 40px 0px;
	}
	// * about-new-iphone
	.about-new-iphone__picture {
		display: none;
	}
	.about-new-iphone__small-container {
		justify-content: center;
	}
}
@media (max-width: 767.98px) {
	// * Main selectors
	[class*="__container"] {
		max-width: none;
	}
	.navigation__number {
		font-size: 14px;
	}
	.title {
		margin: 0px 0px 25px 0px;
	}
	// * Iphone
	.iphone__title {
		color: var(--purple);
		font-size: 48px;
		font-weight: 700;
		margin: 0px 0px 40px 0px;
	}
	// * about-new-iphone
	.about-new-iphone {
		padding: 50px 0px;
	}
	// * Form
	.iphone-form__picture {
		display: none;
	}
	.form-iphone {
		flex: 1 1 auto;
	}
	// * Color
	.color__row {
		flex-direction: column;
	}
}
@media (max-width: 479.98px) {
	// * about-new-iphone
	.about-new-iphone__body {
		font-size: 18px;
	}
	// * Iphone
	.iphone {
		padding: 140px 0px 40px 0px;
	}
	.button-iphone {
		font-size: 18px;
		padding: 18px 80px 18px 80px;
	}
	// *Iphone-form
	.iphone-form__form {
		padding: 50px 30px;
	}
	// * Footer
	.footer__item {
		font-size: 2px;
	}
}
